@charset "utf-8";
    * {
        font-family: 'Jua', sans-serif;
        margin : 0;
    }

    html, body {
        height: 100%;
    }

    .warp {
        min-height: 100%;
        margin: 0 auto -100px;
    }

    footer, .push {
        border: 2px solid green;
        height: 100px;
    }

    .mybtn {
        width: 150px;
        margin: 25px auto auto 50px;
        display: block;
        font-size: 20px;
    }

    .tbtn {
        width: 80px;
        margin: auto auto 5px auto;
    }

    .font-contents {
        font-size: 25px;
        width: 300px;
    }

    .pop-contents {
        font-size: 25px;
        width: 120px;
    }

    .div-contents {
        resize: none;
        overflow: auto;
        height: 650px;
        display: block;
    }

    #txtHead {
        margin: 25px auto auto 50px;
    }

    #showPop {
        width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: 2px green solid;
        border-radius: 5px;
    }

    th, td {
        text-align: center;
    }