<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- USER CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>메이킹첼린지 | 회원가입 화면</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<script>
   function postUserInfo() {
        let userID = $('#userId').val();
        let userPW = $('#userPw').val();
        let userNM = $('#userName').val();

        if(userID === ''){
            alert('ID를 입력해 주세요.');
            $('#userId').focus();
            return;
        } else if(userNM === '') {
            alert('이름을 입력해 주세요.');
            $('#userName').focus();
            return;
        } else if(userPW === '') {
            alert('PW를 입력해 주세요.');
            $('#userPw').focus();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/users",
            data: { id_give: userID,
                    pw_give: userPW,
                    nm_give: userNM,
                    au_give: 2,
                    chk_btn: 0,
                    tmp_id: "",
                    tmp_pw: ""
            },
            success: function (response) { // 성공하면
                alert(response["msg"]);
                if (response["result"] === 'success')
                    window.location.href = '/';
                else
                    $('#userId').focus();
            }
        });
   }
</script>
<body>
    <div class="warp">
        <div class="guestSize" style="width:25%">
            <label class="col-form-label font-contents">회원가입</label>
        </div>
        <div style="border: 2px solid green">
            <div style="margin: 30px 50px 30px">
                <div class="form-group row">
                    <label class="col-form-label font-contents" style="width: 100%">아이디를 입력하세요.</label>
                    <div>
                        <input id="userId" class="form-control" placeholder="ID" size="100%">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label font-contents" style="width: 100%">패스워드를 입력하세요.</label>
                    <div>
                        <input id="userPw" class="form-control" placeholder="Password" size="100%">
                    </div>
                </div>

                <div class="form-group row" style="margin-bottom: 30px">
                    <label class="col-form-label font-contents" style="width: 100%">이름을 입력하세요.</label>
                    <div>
                        <input id="userName" class="form-control" placeholder="NAME" size="100%">
                    </div>
                </div>

                <div class="form-group row" style="display: flex">
                    <button type="button" onclick="postUserInfo()" class="btn btn-success mybtn">회원가입</button>
                    <a href="/" class="btn btn-success mybtn">돌아가기</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>